* {
	box-sizing:border-box;
}



#main {
	height:1000px;
	background-image:
	url("http://www.destination360.com/travel/vacations/images/s/family-vacation.jpg");
}

.sus {
	color:red;
	font-size:60px;
	position:absolute;
	top:50px;
	left:300px;
	opacity:0.3;
}
.hi {
	color:blue;
	font-size:50px;
	font-family:Comic Sans MS ;
	position:absolute;
	top:150px;
	left:400px;
}
.by {
	color:royalblue;
	font-size:20px;
	font-family:Modern;
	position:absolute;
	top:900px;
	left:1100px;
}
.are {
	color:blue;
	font-size:50px;
	font-family:Comic Sans MS ;
	position:absolute;
	top:200px;
	left:200px;
}	

a {
	font-size:25px;
	word-spacing:3em;
}
.link1 {
	word-spacing:4em;
	
}